<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/head :: head}"></head>
  <body>
    <header th:replace="~{fragments/header :: header}"></header>

    <section class="container py-8 min-h-[60vh]">
      <div
        th:replace="~{fragments/blockWrapperWithRightSection :: blockWrapperWithRightSection(~{fragments/productList :: productList}, 'Product List', ~{fragments/button :: button('button', '+ Create new product', '/products/new')})}"
      ></div>
    </section>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
  </body>
</html>
