<section class="container flex gap-24 justify-between" th:fragment="banner">
  <div class="flex flex-col justify-center">
    <h1 class="text-5xl font-semibold">Premium Phones, Unbeatable Prices</h1>
    <p class="mt-6 text-gray-txt">
      Get your favorite brands at the best prices. Shop now and save big!
    </p>
  </div>
  <img
    class="w-2/5 rounded-3xl"
    src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-16e-128gb.png"
    alt=""
  />
</section>
