<div th:fragment="categoryList" class="space-y-4">
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-txt">
      <thead class="text-xs text-primary-foreground uppercase bg-primary">
        <tr>
          <th scope="col" class="px-6 py-3 text-left">ID</th>
          <th scope="col" class="px-6 py-3">Category Name</th>
          <th scope="col" class="px-6 py-3">Number Of Products</th>
          <th scope="col" class="px-6 py-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          th:each="category : ${categories}"
          class="border-b border-gray-light hover:bg-gray-lighter"
        >
          <td class="px-6 py-4" th:text="${category.id}">1</td>
          <td
            class="px-6 py-4 font-medium text-gray-txt whitespace-nowrap"
            th:text="${category.name}"
          >
            iPhone 15
          </td>
          <td class="px-6 py-4" th:text="${category.products.size()}">10</td>
          <td class="px-6 py-4 space-x-2">
            <a
              th:href="@{'/categories/edit/' + ${category.id}}"
              class="text-gray-txt hover:underline"
              >Sửa</a
            >
            <a
              th:href="@{'/categories/delete/' + ${category.id}}"
              onclick="return confirm('Bạn có chắc chắn muốn xóa?')"
              class="text-red hover:underline"
              >Xóa</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
