<form
  th:action="${category.id} != null ? @{'/admin/categories/update/' + ${category.id}} : @{/admin/categories/new}"
  th:object="${category}"
  method="post"
  th:fragment="createCategoryForm"
>
  <!-- Name -->
  <div
    th:replace="~{fragments/input :: input('text', 'name', 'Apple...', 'Category name')}"
  ></div>

  <!-- Submit -->
  <div class="mt-4 text-right">
    <button th:replace="~{fragments/button :: button('submit', 'Save', null)}">
      Lưu sản phẩm
    </button>
  </div>
</form>
