<form
  th:fragment="createProductForm"
  id="createProductForm"
  th:action="${product.id} != null ? @{'/admin/products/update/' + ${product.id}} : @{/admin/products/new}"
  th:object="${product}"
  method="post"
>
  <div class="grid grid-cols-2 gap-4">
    <!-- Name -->
    <div
      th:replace="~{fragments/input :: input('text', 'name', 'Product name', 'Product name')}"
    ></div>

    <!-- Description -->
    <div
      th:replace="~{fragments/input :: input('textarea', 'description', 'Description', 'Description')}"
    ></div>

    <!-- Rate -->
    <div
      th:replace="~{fragments/input :: input('number', 'rate', '', 'Rate')}"
    ></div>

    <!-- Cover -->
    <div
      th:replace="~{fragments/input :: input('text', 'cover', '', 'Ảnh bìa (URL)')}"
    ></div>

    <!-- Price -->
    <div
      th:replace="~{fragments/input :: input('number', 'price', '', 'Price')}"
    ></div>

    <!-- Discount -->
    <div
      th:replace="~{fragments/input :: input('number', 'discount', '', 'Discount (%)')}"
    ></div>

    <!-- Category (select) -->
    <div
      th:replace="~{fragments/input :: select('category', '', 'Category', ${categories}, null, null)}"
    ></div>
  </div>

  <!-- Submit -->
  <div class="text-end w-full">
    <button th:replace="~{fragments/button :: button('submit', 'Save', null)}">
      Lưu sản phẩm
    </button>
  </div>
</form>
