<header
  th:fragment="header"
  class="container sticky top-4 mt-8 backdrop-blur-md bg-white/80 z-50 rounded-full shadow-center"
>
  <nav class="flex items-center h-16">
    <!-- logo -->
    <div class="order-0">
      <a href="/">
        <img
          src="/images/logo.png"
          width="120"
          alt="logo"
          class="rounded-full"
        />
      </a>
    </div>
    <ul
      id="nav-menu"
      class="navbar-nav order-2 hidden w-full flex-[0_0_100%] lg:order-1 lg:flex lg:w-auto lg:flex-auto lg:justify-center lg:space-x-4"
    >
      <li th:each="menu : ${menus}" class="nav-item">
        <a
          th:href="@{${menu.href}}"
          th:text="${menu.title}"
          class="nav-link"
        ></a>
      </li>
    </ul>
    <div class="order-1 ml-auto items-center md:order-2 md:ml-0 lg:flex">
      <a
        th:unless="${#authorization.expression('isAuthenticated()')}"
        class="primary-button"
        href="/login"
        >Login</a
      >

      <div
        th:if="${#authorization.expression('isAuthenticated()')}"
        class="flex items-center gap-2"
      >
        <p>Hi <span th:text="${#authentication.name}"></span></p>
        <a
          class="primary-button"
          href="#"
          onclick="event.preventDefault(); document.getElementById('logout-form').submit();"
        >
          Logout
        </a>
        <form
          id="logout-form"
          th:action="@{/logout}"
          method="post"
          style="display: none"
        ></form>
      </div>
    </div>
  </nav>
</header>
