<div
  class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm md:p-6"
  th:fragment="orderItem(item)"
>
  <div
    class="space-y-4 md:flex md:items-center md:justify-between md:gap-6 md:space-y-0"
  >
    <a
      th:href="@{'/products/' + ${item.product.id}}"
      class="shrink-0 md:order-1"
    >
      <img
        class="h-20 w-20"
        th:src="@{${item.product.cover}}"
        th:alt="${item.product.name}"
      />
    </a>

    <div class="flex items-center justify-between md:order-3 md:justify-end">
      <div class="flex items-center">
        <p class="text-sm">
          Quantity: <strong th:text="${item.quantity}"></strong>
        </p>
      </div>
      <div class="text-end md:w-32">
        <p
          class="text-base font-bold text-gray-900"
          th:text="${#numbers.formatDecimal(item.product.price * item.quantity, 0, 'POINT', 0, 'POINT') + 'đ'}"
        ></p>
      </div>
    </div>

    <div class="w-full min-w-0 flex-1 space-y-4 md:order-2 md:max-w-md">
      <a
        th:href="@{'/products/' + ${item.product.id}}"
        class="text-base font-medium text-gray-900 hover:underline"
        th:text="${item.product.name}"
      ></a>
      <div class="flex items-center gap-4">
        <button
          type="button"
          class="inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-900"
        >
          <svg
            class="me-1.5 h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"
            />
          </svg>
          Add to Favorites
        </button>
      </div>
    </div>
  </div>
</div>
