<div th:fragment="productList" class="space-y-4">
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-txt">
      <thead class="text-xs text-primary-foreground uppercase bg-primary">
        <tr>
          <th scope="col" class="px-6 py-3 text-left">ID</th>
          <th scope="col" class="px-6 py-3">Product Name</th>
          <th scope="col" class="px-6 py-3">Price</th>
          <th scope="col" class="px-6 py-3">Discount</th>
          <th scope="col" class="px-6 py-3">Discounted Price</th>
          <th scope="col" class="px-6 py-3">Category</th>
          <th scope="col" class="px-6 py-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          th:each="product : ${products}"
          class="border-b border-border hover:bg-gray-lighter"
        >
          <td class="px-6 py-4" th:text="${product.id}">1</td>
          <td
            class="px-6 py-4 font-medium text-gray-txt whitespace-nowrap"
            th:text="${product.name}"
          >
            iPhone 15
          </td>
          <td class="px-6 py-4" th:text="${product.price}">25000000</td>
          <td class="px-6 py-4" th:text="${product.discount}">10</td>
          <td class="px-6 py-4" th:text="${product.getDiscountedPrice()}">
            10
          </td>
          <td class="px-6 py-4" th:text="${product.category?.name}">
            Điện thoại
          </td>
          <td class="px-6 py-4 space-x-2">
            <a
              th:href="@{'/admin/products/edit/' + ${product.id}}"
              class="text-blue-600 hover:underline"
              >Sửa</a
            >
            <a
              th:href="@{'/admin/products/delete/' + ${product.id}}"
              onclick="return confirm('Bạn có chắc chắn muốn xóa?')"
              class="text-red-600 hover:underline"
              >Xóa</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
