<section class="antialiased" th:fragment="productDetails">
  <div class="px-4 mx-auto 2xl:px-0">
    <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
      <div class="shrink-0 mmx-auto p-2 border rounded-xl">
        <img class="w-full" th:src="@{${product.cover}}" alt="Product image" />
      </div>

      <div class="mt-6 sm:mt-8 lg:mt-0 space-y-4">
        <div
          class="p-1 text-xs rounded-md bg-primary/15 w-fit text-primary border border-primary font-semibold"
          th:text="${product.category?.name}"
        ></div>
        <h1
          class="text-xl font-semibold text-gray-900 sm:text-2xl mt-4"
          th:text="${product.name}"
        >
          Product Name
        </h1>
        <div class="flex items-center gap-2">
          <div th:replace="~{fragments/rate :: rate(${product.rate})}"></div>
          <div class="w-px h-6 bg-gray-300"></div>

          <div class="flex gap-3">
            <i class="fa-brands fa-facebook-f text-gray-400"></i>
            <i class="fa-brands fa-square-x-twitter text-gray-400"></i>
            <i class="fa-brands fa-facebook-messenger text-gray-400"></i>
          </div>
        </div>
        <div class="sm:items-center sm:gap-4 sm:flex">
          <div class="flex gap-2">
            <p
              class="font-extrabold text-2xl"
              th:text="${#numbers.formatDecimal(product.getDiscountedPrice(), 0, 'POINT', 0, 'POINT') + 'đ'}"
            >
              Giá khuyến mãi
            </p>
            <p
              class="line-through text-gray-400"
              th:if="${product.discount != null and product.discount > 0}"
              th:text="${#numbers.formatDecimal(product.price, 0, 'POINT', 0, 'POINT') + 'đ'}"
            >
              Giá gốc
            </p>
          </div>
        </div>

        <p class="text-gray-500" th:text="${product.description}">
          Product short description
        </p>

        <div class="space-y-8">
          <hr class="border-gray-200" />

          <div class="sm:gap-4 sm:items-center sm:flex">
            <a href="#" role="button" class="secondary-button">
              <i class="fa-regular fa-heart mr-1"></i>
              Add to favorites
            </a>

            <form th:action="@{'/cart/add/' + ${product.id}}" method="post">
              <button href="#" role="button" class="primary-button">
                <i class="fa-solid fa-cart-plus mr-1"></i>
                Add to cart
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
