<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/head :: head}"></head>
  <body class="space-y-20">
    <header th:replace="~{fragments/header :: header}"></header>
    <section th:replace="~{fragments/banner :: banner}"></section>
    <section class="container">
      <div
        th:replace="~{fragments/blockWrapperWithRightSection :: blockWrapperWithRightSection(~{fragments/productCards :: productCards}, 'Recent Products', ~{fragments/button :: button('button', 'View more', '/search')})}"
      ></div>
    </section>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
  </body>
</html>
